<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
 		crossorigin="anonymous">
<title>Domowa biblioteka</title>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
<div class="navbar-header">

<button type="button" class="navbar-toggle collapsed"
data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
<span class="icon-bar"></span><span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="#" th:href="@{/}">Domowa biblioteka</a>
</div>

<div id="navbar" class="collapse navbar-collapse">
<ul class="nav navbar-nav navbar-right">
<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj się</a></li>
</ul>
</div>
</div>
</nav>

<br>
<br>

<div class="container">
<h2>Twoje książki</h2>


<div class="card">
<div class="card-body">

<div th:switch="${books}" class="container my-5">
<p class="my-5">
<a href="/book/add" class="btn btn-primary" id="addButton">
<i class="fas fa-plus-square ml-2">&nbsp;&nbsp;&nbsp;Dodaj książkę</i></a>
</p>
<div class="table col-md-10">
<h2 th:case="null">Nie dodałeś żadnych książek.</h2>
<div th:case="*">
<table class="table table-striped table-responsive-md">
<thead>
	<tr>
		<th>Tytuł</th>
		<th>Autor</th>
		<th>Gatunek</th>
		<th>Ilość stron</th>
		<th>Rok wydania</th>
		<th>Edytuj</th>
		<th>Usuń</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="book : ${books}">
		<td th:text="${book.title}"></td>
		<td th:text="${book.author}"></td>
		<td th:text="${book.genre}"></td>
		<td th:text="${book.pages}"></td>
		<td th:text="${book.releaseYear}"></td>
		<td><a th:href="@{/book/update/{id}(id=${book.id})}" class="btn btn-primary">
		<i class="fas fa-edit ml-2"></i></a></td>
			<td><a th:href="@{/book/delete/{id}(id=${book.id})}" class="btn btn-primary">
		<i class="fas fa-trash ml-2"></i></a></td>
	</tr>
	</tbody>
</table>
</div>
</div>
</div>
</div>
</div>


</div>

<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>